/* Modal */
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw ; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fff;
  padding: 25px 30px;
  width: 200% !important;
  max-width: 500px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Botão de fechar */
#fecharModal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

#fecharModal:hover {
  color: #ff0000;
}

/* Título */
.modal-content h2 {
  margin-top: 0;
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Labels */
#formEdicao label {
  display: block;
  margin-top: 14px;
  font-weight: 600;
  color: #000;
}

/* Inputs e selects */
#formEdicao input, #formEdicao select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background: #f9f9f9;
  box-sizing: border-box;
}

/* Focus do input */
#formEdicao input:focus, #formEdicao select:focus {
  border-color: #000000;
  outline: none;
  background-color: #fff;
}

/* Campo de senha com botão (ex: olho) */
#formEdicao div[style*="display:flex"] {
  gap: 8px;
  margin-top: 5px;
  align-items: center;
}

/* Botão Salvar */
#formEdicao button[type="submit"] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, font-size 0.2s;
  margin-top: 24px;
  width: 100%;
}

#formEdicao button[type="submit"]:hover {
  background-color: #000000;
  color: white;
  font-size: 18px;
}
