html, body {
   height:100%;
   margin: 0;
   font-family: 'Times new Roman';
  
}

body {
   background-image: url('../img/fundo_pg.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;


}

header img {
    height:70px;
    width:70px;

}
header {
  background-color: white;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;


}

.retangulo {
  margin-top: 20px;
  padding-top: 10px;
  width: 450px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  font-family: 'Times New Roman';
  color: rgb(99, 179, 168);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

input[type="date"] {
  border: 1px solid #7c7c7c;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  margin: 0 auto;
}

input[type="date"]:focus {
  outline: none;
  box-shadow: 0 0 5px #89cec6;
  border-color: #9ddac1;
}

.final {
  margin-top: 50px;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;

}
.gerar {
  margin: 20px auto;
  background-color: #ffffff; /* Verde suave */
  color: rgb(0, 0, 0); /* Cor do texto */
  border: none; /* Remove borda padrão */
  border-radius: 8px; /* Borda arredondada */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; /* Mãozinha no hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s, transform 0.2s;
  display: block;
  width: 120px; /* Largura ajustada para parecer botão */
  text-align: center;
  text-decoration: none;
}

.gerar:hover {
  background-color: #b3e7da; /* Tom mais escuro ao passar o mouse */
  transform: scale(1.05); /* Leve aumento no hover */
}
