@charset "UTF-8";
/*Cabeçalho*/
h1 {
    text-align: center;
    font-family: 'sans-serif '
}

header{
    height:100px;
    background-color:#ffffff;
    margin: 0% auto;
}
header img{
    float:left;
    height:90px;
    width:90px;
    margin:0px;
}


.btn {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ccc;
    padding: 10px 10px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    box-shadow: 0 4px 8px #00000033; /* sombra roxa mais visível */
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.btn:hover {
    background-color: #e2fafd;
}



/*.painel-botoes {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    margin: 30px auto;
    box-shadow: 0 4px 10px #0000001a;
    max-height: fit-content;
}*/

.painel-botoes {
    background-color: #ffffff;
    padding: 40px 50px 0px 45px; /* topo, direita, baixo, esquerda */
    border-radius: 10px;
    width: 300px;
    margin: 30px auto; /* centraliza horizontalmente */
    box-shadow: 0 0px 5px #0000001a;
    text-align: center;
    display: inline-block; /* evita que ele cresça à toa */
}
body {
    margin: 0;
    padding: 0;
    background-image: url("img/sua-imagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.icone-canto {
    position: relative;
    bottom: 60px;
    left: 275px;
    width: 70px; /* ajusta o tamanho como quiser */
    height: auto;
}

html,body{
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman';
}


body {
    background-color: #fff;
    
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0px;
}

body {
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    background-attachment: fixed;
}

nav {
    margin-right: 300px;
    font-family: 'Times New Roman';
    font-size: 11px;
}




.icone-pesquisa {
    position: relative;
    bottom: 0px;
    right: 50px;
    width: 25px;
    height: auto;
}
.icone-estoque {
    position: relative;
    bottom: 0px;
    right: 8%;
    width: 25px;
    height: auto;
}
.icone-gestao {
    position: relative;
    bottom: 0px;
    right: 35px;
    width: 25px;
    height: auto;
}
.icone-relatorio {
    position: relative;
    bottom: 0px;
    right: 45px;
    width: 25px;
    height: auto;
}
.icone-caixa {
    position: relative;
    bottom: 0px;
    right: 95px;
    width: 25px;
    height: auto;
}
.icone-comanda {
    position: relative;
    bottom: 0px;
    right: 80px;
    width: 25px;
    height: auto;
}