html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../img/fundo_padaria.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  /* ------------------- HEADER ------------------- */
  header {
    background-color: white;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  header img {
    height: 70px;
    width: 70px;
  }
  
  h2{
    text-align: center;
  }
  
  /* ------------------- RETÂNGULO PRINCIPAL ------------------- */
  .retangulo {
    background-color: white;
    padding: 10px;
    width: 600px;
    margin: 40px auto 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
    align-items: center;
  }
  
  /* ------------------- BOTÕES TABELA ------------------- */
  button {
    width: 14%;
    padding: 10px;
    background-color: #3D2412;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 100px;

  }
  
  button:hover {
    background-color: #7a4226;
  }
  

  /* LOGO NO MENU */
.menu-logo {
    height: 50px; /* ajuste conforme necessário */
    display: block;
}

nav ul.menu > li.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* espaço entre a logo e os itens do menu */
}
