/* Base */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'sans-serif ';
  background-image: url('../img/fundo1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden; /* permite scroll horizontal se necessário */
}


/*estilo da box principal*/
.box_principal{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
  height: 750px;
  width: 1200px;
  border: 1px solid white;
  border-radius: 10px;
}

/*estil da box header*/
.box_header{
  background-color: white;
  margin: 10px 10px;
  height: 55px;
  border-radius: 10px;
}

/*estilo do h2 que fica na box header*/
.box_header h2{
  margin: 10px;
  padding: 10px;
  text-align: center;
}


.box_logo{
  background-color: white;
  margin: 20px 10px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  text-align: center; 
  float: center;
}

.box_logo img{
  margin: 20px;
  width: 150px;
  height: 150px;
  float: center;
}

.box_listaProdutos{
  background-color: white;
  margin-top: -220px;
  margin-left:350px;
  height: 400px;
  width: 500px;
  border-radius: 10px;
}

.box_listaProdutos p{
  text-align: left;

}




